@{
    Page.Title = "Users Administration";
    Layout = "~/_SiteLayout.cshtml";

    /* DataGrid Pagination Variables  */
    var dgTotalRecords = 0;
    var dgPageSize = 0;
    var dgCurrentPage = 1;
    var dgCurrentOffset = 0;
    /* DataGrid Pagination Variables  */

    var PageError = "";
    var PageMessage = "";

    if (!Request.QueryString["page"].IsEmpty())
    {
        dgCurrentPage = Request.QueryString["page"].AsInt();
    }
    
    bool boolNotAuthorized = false;
    
    IEnumerable<Object> data = null;
    var i=1;
    
    if(Session["User"] == null)
    {
        Response.Redirect("~/Login?redirect=ListUsers");
    }
    else{
        if(((bool)Session["IsAdmin"]) == true)
        {
            boolNotAuthorized = false; 
            var numOfRows = 3;
            int result = 0;
            
            if(!IsPost)
            {
                numOfRows = 3;
            }
            else
            {
                if(Request.Form["hidNumberOfRows"] != null)
                {
                    numOfRows = Request.Form["hidNumberOfRows"].AsInt();    
                }
            }
            var db = Database.Open("StarterSite");
            
            if(!Request.QueryString["delete"].IsEmpty())           
            {
                var userIDDeleting = Request.QueryString["delete"].AsInt();
                if (userIDDeleting > 0) 
                {
                    var deleteCommand = "DELETE FROM Users WHERE UserID = @0";
                    
                    try {
                        result = db.Execute(deleteCommand, @userIDDeleting);
                    }
                    catch(Exception ex)
                    {
                        PageError = ex.Message;
                    }
                    finally 
                    {
                        if (result == 1)
                        {
                            PageMessage = "User successfully deleted.";
                        }
                    }
                }
            }
            
            
            
            var totalCountQuery = "SELECT COUNT(UserID) AS Count FROM Users";
            var countData = db.QuerySingle(totalCountQuery);
            dgTotalRecords = countData.Count;

            if(dgTotalRecords != 0)
            {
                if(dgTotalRecords > numOfRows) {                    
                    dgPageSize = dgTotalRecords / numOfRows;
                    if(dgTotalRecords % numOfRows > 0){
                        dgPageSize += 1;
                    }    
                }else
                {
                    dgPageSize = 1;
                    dgCurrentOffset = 1;
                }
                
                if(dgCurrentPage > 1 && dgCurrentPage <= dgPageSize)
                {
                    dgCurrentOffset = (dgCurrentPage - 1) * numOfRows;
                }
                else
                {
                    dgCurrentOffset = 0;
                }
            }
            
            var selectQueryString = "SELECT UserID, Username, Email FROM Users ORDER BY UserID OFFSET "+ dgCurrentOffset.ToString()  +" ROWS FETCH NEXT " +  numOfRows.ToString() + " ROWS ONLY";           
            data = db.Query(selectQueryString);
            var grid = new WebGrid(source: data,
                                   defaultSort: "Username",
                                   rowsPerPage: numOfRows);
            grid.SortDirection = SortDirection.Ascending;        
        }
        else
        {
            //You are not authorised to view this page.
            boolNotAuthorized = true;
            data = null;
            Response.Redirect("~/Authorize");
        }
    }
    
}

@section sectionNavDashboard{
    <ul class="select">
        <li><a href="#nogo"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub">
                <ul class="sub">
                    <li><a href="#nogo">Dashboard Details 1</a></li>
                    <li><a href="#nogo">Dashboard Details 2</a></li>
                    <li><a href="#nogo">Dashboard Details 3</a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
}

@section sectionNavCab{
    <ul class="select">
        <li><a href="#nogo"><b>CAB</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub">
                <ul class="sub">
                    <li><a href="~/AddCab">Add Cab</a></li>
                    <li><a href="~/BookCab">Book Cab</a></li>
                    <li><a href="~/LocateCab">Locate Cab</a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
}

@section sectionNavCustomer{
    <ul class="select">
        <li><a href="#nogo"><b>Customer</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub">
                <ul class="sub">
                    <li ><a href="~/AddCustomer">Add</a></li>
                    <li><a href="#nogo">Categories Details 2</a></li>
                    <li><a href="#nogo">Categories Details 3</a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
}

@section sectionNavReport{
    <ul class="select">
        <li><a href="#nogo"><b>Report</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub">
                <ul class="sub">
                    <li><a href="#nogo">Transaction</a></li>
                    <li><a href="#nogo">Cab</a></li>
                    <li><a href="#nogo">Customer</a></li>

                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
}

@section sectionNavAdmin{
    <ul class="current">
        <li><a href="#nogo"><b>Administration</b><!--[if IE 7]><!--></a><!--<![endif]-->
            <!--[if lte IE 6]><table><tr><td><![endif]-->
            <div class="select_sub show">
                <ul class="sub">
                    <li class="sub_show"><a href="~/ListUsers">User</a></li>
                    <li><a href="#nogo">Change Password</a></li>
                    <li><a href="#nogo">Backup Database</a></li>
                </ul>
            </div>
            <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
    </ul>
}

<script type='text/javascript'>       
    $(document).ready(function () { $('#ddNumberOfRows').bind('change',function () { alert("hi"); }); });
</script>

<div id="page-heading">
    <h1>Users Administration</h1>
</div>

<table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
	<tr>
		<th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
		<th class="topleft"></th>
		<td id="tbl-border-top">&nbsp;</td>
		<th class="topright"></th>
		<th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
	</tr>
	<tr>
		<td id="tbl-border-left"></td>
		<td>
		<!--  start content-table-inner ...................................................................... START -->
		<div id="content-table-inner">
		
            <form id="mainform" method="post">
			<!--  start table-content  -->
			<div id="table-content">
			
				<!--  start message-yellow -->
				@*<div id="message-yellow">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="yellow-left">You have a new message. <a href="">Go to Inbox.</a></td>
					<td class="yellow-right"><a class="close-yellow"><img src="images/table/icon_close_yellow.gif"   alt="" /></a></td>
				</tr>
				</table>
				</div>*@
				<!--  end message-yellow -->
				
				@{ if(!PageError.IsEmpty()) 
                    {
                        <!--  start message-red -->
				        <div id="message-red">
				        <table border="0" width="100%" cellpadding="0" cellspacing="0">
				        <tr>
					        <td class="red-left">Error. @PageError <a href="~/AddUser">Please try again.</a></td>
					        <td class="red-right"><a class="close-red"><img src="images/table/icon_close_red.gif"   alt="" /></a></td>
				        </tr>
				        </table>
				        </div>
				        <!--  end message-red -->
                    }
			    }
				
				<!--  start message-blue -->
				@*<div id="message-blue">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="blue-left">Welcome back. <a href="">View my account.</a> </td>
					<td class="blue-right"><a class="close-blue"><img src="images/table/icon_close_blue.gif"   alt="" /></a></td>
				</tr>
				</table>
				</div>*@
				<!--  end message-blue -->
			
                @{ if(!PageMessage.IsEmpty()) 
                    {
				<!--  start message-green -->
				<div id="message-green">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="green-left">Success. @PageMessage </td>
					<td class="green-right"><a class="close-green"><img src="images/table/icon_close_green.gif"   alt="" /></a></td>
				</tr>
				</table>
				</div>
				<!--  end message-green -->
		         }
			    }
		 
				<!--  start product-table ..................................................................................... -->
				
				<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<tr>
					
					<th class="table-header-repeat line-left minwidth-1"><a href="#">Username</a>	</th>					
					<th class="table-header-repeat line-left"><a href="#">Email</a></th>					
					<th class="table-header-options line-left"><a href="#">Options</a></th>
				</tr>
                @{foreach(DynamicRecord record in data){ 
                var attrib = "";      
                if(i%2 != 0) {attrib = "class='alternate-row'";}
                      <tr @attrib>
                            <td>@record["Username"]</td>					        
					        <td><a href="">@record["Email"]</a></td>
                            <td class="options-width">					        
					        <a href="~/ListUsers?delete=@record["UserID"]" title="Delete" class="icon-2 info-tooltip"></a>					        
					        </td>
                      </tr>
                      i++;
                }
                 
                }             
                
				</table>
				<!--  end product-table................................... --> 
				
			</div>
			<!--  end content-table  -->
		
			<!--  start actions-box ............................................... -->
			<div id="actions-box">
				<a href="" class="action-slider"></a>
				<div id="actions-box-slider">
					<a href="~/AddUser" class="action-edit">Add</a>					
				</div>
				<div class="clear"></div>
			</div>
			<!-- end actions-box........... -->
			
			<!--  start paging..................................................... -->
			<table border="0" cellpadding="0" cellspacing="0" id="paging-table">
			<tr>
			<td>
				<a href="~/ListUsers?page=1" class="page-far-left"></a>
                @{ var leftPageNumber = 1;
                   if(dgCurrentPage == 1)
                   {
                       leftPageNumber = 1;
                   }
                   else
                   {
                       leftPageNumber = dgCurrentPage - 1;
                   }
				    <a href="~/ListUsers?page=@leftPageNumber" class="page-left"></a>
                }
				<div id="page-info">Page <strong>@dgCurrentPage</strong> / @dgPageSize</div>
                @{ var rightPageNumber = dgCurrentPage + 1;
                   if (dgCurrentPage == dgPageSize)
                   {
                       rightPageNumber = dgPageSize;
                   }
                   else if(dgCurrentPage < dgPageSize)
                   {
                       rightPageNumber = dgCurrentPage + 1;
                   }
				    <a href="~/ListUsers?page=@rightPageNumber" class="page-right"></a>
                }
				<a href="~/ListUsers?page=@dgPageSize" class="page-far-right"></a>
			</td>
			<td>
			<select id="ddNumberOfRows" class="styledselect_pages">
				<option value="3">Number of rows</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			</td>
			</tr>
			</table>
			<!--  end paging................ -->
			</form>

			<div class="clear"></div>
		 
		</div>
		<!--  end content-table-inner ............................................END  -->
		</td>
		<td id="tbl-border-right"></td>
	</tr>
	<tr>
		<th class="sized bottomleft"></th>
		<td id="tbl-border-bottom">&nbsp;</td>
		<th class="sized bottomright"></th>
	</tr>
	</table>

<input type="hidden" id="hidNumberOfRows" value="3" name="hidNumberOfRows"/>
