

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>        
        <script src="~/Scripts/jquery-1.7.1.min.js"></script>        
        <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
        <link href="@Href("~/Styles/site.css")" type="text/css" rel="stylesheet" />        
        <link href="@Href("~/Styles/jquery-ui-1.8.15.custom.css")" type="text/css" rel="stylesheet" />
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
        <script type="text/javascript">
            $(function () {
                //$('#txtCustomerMobile').autocomplete({ source: '~/GetCustomerMobile/' });
            });
        </script>
    </head>
    <body>
        <form method="post">
            <label for="txtCustomerMobile">Enter product: </label>
            <input type="text" name="txtCustomerMobile" id="txtCustomerMobile" />
        </form>
    </body>
</html>

